.DS_Store
.nyc_output
.project
.settings/*
*.swo
*.swp
*tmp*
*tmp*.*
coverage
node_modules
npm-debug.log
package-lock.json
siteverification.id
src/*favicon-*.png
src/*tmp*.*
src/favicon.ico
tmp_*.md
tracking.*
