.DS_Store
*.swp
*.swo
.project
.nyc_output
.settings/*
node_modules
coverage
src/favicon.ico
src/*favicon-*.png
src/*tmp*.*
*tmp*.*
*tmp*
tracking.*
siteverification.id
tmp_*.md
npm-debug.log
build
package-lock.json
