body {
    background-color : white;
    color            : black;
    font-family      : sans-serif;
    font-size        : 12pt;
}
p {
    max-width        : 40em;
}
.code {
    font-family      : Monaco, Consolas, 'Andale Mono', Monaco, monospace;
    font-size        : 0.7em;
    background-color : #555;
    color            : #fff;
}
textarea {
    border           : solid 0px;
}

#input_and_controls {
    z-index          : 0;
    position         : relative;
    float            : left;
    max-width        : 100%;
    max-height       : 100%;
    width            : 32em;
}

#input_and_controls > #btn_render {
    display : none;
}
#input_and_controls > #msc_input {
    width            : 100%;
    height           : 40em;
}
#input_and_controls > #error_output {
    z-index          : 0;
    color            : orange;
    padding          : 1em 0em 1em 0em;
    border           : solid 1px orange; 
    display          : none;
    width            : 100%;
}
#svg_output {
    z-index          : 0;
    vertical-align   : top;
    position         : absolute;
    float            : left;
}
#textcopylightbox {
    z-index : 1;
    position: fixed;
    top : 0px;
    left : 0px;
    width : 100%;
    height : 100%;
    background-color : white;
    opacity : 0.96;
    display : none;
}
#textcopybox {
    width            : 100%;
    height           : 100%;
}

#textcopyform {
    position: absolute;
    width : 80%;
    height : 80%;
    top : 10%;
    left: 10%;
    opacity : 1;
    text-align : right;
}
button {
    cursor           : default;
    padding          : 0.3em 0.5em 0.3em 0.5em;
    background-color : #ddd;
    color            : #000;
    border           : none;
    font-size        : inherit;
}
button:hover, .button:hover {
    text-align : center;
    background-color : #555;
    color            : #fff;
}



/**
 * jQuery Lined Textarea Plugin
 *   http://alan.blog-city.com/jquerylinedtextarea.htm
 *
 * Copyright (c) 2010 Alan Williamson
 *
 * Released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * Usage:
 *   Displays a line number count column to the left of the textarea
 *   
 *   Class up your textarea with a given class, or target it directly
 *   with JQuery Selectors
 *   
 *   $(".lined").linedtextarea({
 *   	selectedLine: 10,
 *    selectedClass: 'lineselect'
 *   });
 *
 */

.linedwrap {
	border: 0px solid #c0c0c0;
	padding: 0px;
}

.linedtextarea {
	padding: 0px;
	margin: 0px;
}

.linedtextarea textarea, .linedwrap .codelines .lineno {
    font-family      : Monaco, Consolas, 'Andale Mono', Monaco, monospace;
    font-size        : 0.7em;
    /*
	font-size: 1em;
	font-family: inherit;
    */
	line-height: normal !important;
}

.linedtextarea textarea {
    background-color : #555;
    color            : #fff;
	padding-right    : 0.0em;
	padding-top      : 0.0em;
    height           : 40em;
	border           : 0;
}

/* style for the line number area */
.linedwrap .lines {
	margin-top: 0px;
	width: 2em;
	float: left;
	overflow: hidden;
	border-right: 1px solid #c0c0c0;
	margin-right: 0.2em;
}

.linedwrap .codelines {
	padding-top: 0px;
}

.linedwrap .codelines .lineno {
	color:#AAAAAA;
	padding-right: 0.5em;
	padding-top: 0.0em;
	text-align: right;
	white-space: nowrap;
}

.linedwrap .codelines .lineselect {
	color: orange;
}

/*
    This file is part of mscgen_js.

    mscgen_js is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    mscgen_js is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with mscgen_js.  If not, see <http://www.gnu.org/licenses/>.
*/
