body {
  color: black;
  font-family: sans-serif;
  font-size: 12pt;
  margin-top: 0;
}
.debug {
  display: none;
}
.showonmobile {
  display: none;
}
body {
    counter-reset: article-counter;
}
footer {
  border-top: solid lightgray 1px;
  padding-top: .9em;
  font-size: 10pt;
  background-color: white;
}
article {
  max-width: 65em;
  margin-top: .25em;
  padding: 2em;
  background-color: white;
  overflow: hidden;
  counter-reset: chapter-counter;
  border-collapse: separate; 
  page-break-before: always;
}
article:first-of-type{
  page-break-before: auto;
}
section {
  counter-reset: paragraph-counter;
}
p, pre {
  margin-left: 1em;
  margin-right: 1em;
}
code, pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 1em;
}
article > h1 {
  counter-increment: article-counter;
}
article > h1:before {
  content: counter(article-counter) " ";
}
article h2:before {
  counter-increment: chapter-counter;
  content: counter(article-counter) "." counter(chapter-counter) " ";
}
article h3:before {
  counter-increment: paragraph-counter;
  content: counter(article-counter) "." counter(chapter-counter) "." counter(paragraph-counter) " ";
}
article h1, h2 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #F8F8F8;
}
article a {
  color: blue;
}
article a:visited {
  color: blue;
}
code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
}
img, svg, .mscgen_js {
  max-width: 100%;
}
.mscgen_js {
  overflow: auto;
  display: inline-block;
}
.info {
  border-left: 1px solid #AAAAFF;
  padding: 0.5em;
}
.info:before {
  content: "(i) ";
  color: blue;
  font-weight: bold;
}
.warning {
  border-left: 1px solid orange;
  padding: 0.5em;
}
.warning:before {
  content: "/!\\ "; 
  color: orange;
  font-weight: bold;
}
.shadow {
  box-shadow: 0.0 0.0 1em -0.2em gray;
  border-collapse: separate;    
}
mark {
  background-color: #FFFFAA;
}
@media screen and (max-width: 639px) {
  body {
    margin: 0;
  }
  article {
    margin: 0;
    border: 0;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0;
  }
  .code {
    display: block;
    overflow: auto;
  }
  .hideonmobile {
    display: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  body {
    margin: 0;
  }
  article {
    margin: 0;
    border: 0;
    padding: 1em;
    border-radius: 0;
  }
}
@media print {
  .hideonprint {
      display: none;
  }
  body {
    font-size: 10pt;
  }
}
header {
  padding-bottom: 0.9em;
  padding-top: 1em;
  border-bottom: solid lightgray 1px;
  margin-bottom: .4em;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: 25%;
}
header > nav {
  float: right;
}
header .debug {
  float: right;
  font-size: small;
}
header h1 {
  font-size: 1.9em;
  margin-bottom: 0;
  margin-top: 0;
}
header em {
  color: black;
}
header a {
  text-decoration: none;
  color: lightgray;
}
header a.icon:hover {
  color:black;
}
header div.icon:hover {
  cursor: pointer;
  color:black;
}
header .icon {
  display: inline-block;
  width: 3.6em;
  height: 2.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}
header .twitter {
  background-image: url(../images/twitter.svg);
}
header .github {
  background-image: url(../images/github.svg);
}
header .tutorial {
  background-image: url(../images/tutorial.svg);
}
header .embed {
  background-image: url(../images/embed.svg);
}
header .question {
  background-image: url(../images/question.svg);
}
header .interpreter {
  background-image: url(../images/interpreter.svg);
}
@media screen and (max-width: 480px) {
  .hideonmobile {
    display: none;
  }
  a.hideonmobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .showonmobile {
    display: block;
  }
}
/*
 This file is part of mscgen_js.
 mscgen_js is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 mscgen_js is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 You should have received a copy of the GNU General Public License
 along with mscgen_js.  If not, see <http://www.gnu.org/licenses/>.
 */