@import "../lib/codemirror/codemirror.css";
@import "../lib/codemirror/theme/midnight.css";
body {
    color: black;
    font-family: sans-serif;
    font-size: 12pt;
}
.code {
    font-family: Monaco, Consolas, 'Andale Mono', monospace;
    font-size: 0.7em;
    background-color: #555;
    color: #fff;
}
textarea {
    border: solid 0px;
}
h1 {
    font-size: 1.9em;
    margin-bottom: 0;
}
header {
    padding-bottom: 0.9em;
    border-bottom: solid lightgray 1px;
    margin-bottom: 0.4em;
}
header > div {
    float: right;
}
h2 {
    font-style: italic;
    font-weight: 500;
}
h3 {
    margin: 0;
    margin-bottom: 1em;
    font-weight: 500;
    display: inline-block;
}
.intronumber {
    padding: 0.2em 0.5em 0.1em 0.5em;
    color: white;
    background-color: lightgray;
    border-radius: 1em;
}

.fadable {
    animation-duration: 60s;
    animation-name: fadeout;
    -webkit-animation-duration: 60s;
    -webkit-animation-name: fadeout;
    color: lightgray;
}
a.fadable {
    text-decoration: underline;
    -moz-text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}
@keyframes fadeout {
from {
    color: black;
}
to {
    color: lightgray;
}
}
@-webkit-keyframes
fadeout {from {
    color: black;
}
to {
    color: lightgray;
}
}

#input_and_controls {
    z-index: 2;
    position: relative;
    vertical-align: top;
    float: left;
    max-width: 100%;
    max-height: 100%;
    width: 32em;
    padding-bottom: 1em;
    margin-right: 1em;
}

#input_and_controls > #btn_render {
    display: none;
}
#input_and_controls > #msc_input {
    width: 98%;
    height: 40em;
}
#input_and_controls > #__error_output {
    color: orange;
    padding: 1em 0em 1em 0em;
    border: solid 1px orange;
    display: none;
    width: 100%;
}
#__svg {
    z-index: 0;
    vertical-align: top;
    position: absolute;
    float: left;
}
#__cheatsheet {
    z-index: 1;
    position: absolute;
    top: 4.5em;
    right: 0em;
    background-color: transparent;
    width: 100%;
    /*opacity: 97%;*/
    display: none;
}
.popup {
    box-shadow: 0.4em 0.4em 1em -0.2em gray;
    border-collapse: separate; /* apparently needed for IE */
    background-color: white;
    overflow: auto;
    border-radius: 1em;
    opacity: 0.97;
}
.popup > h1 {
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    height: 2.0em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.popup > button.close {
    color: white;
    border-radius: 1em;
    float: right;
}
.popup > p {
    border-top: 1px solid lightgray;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0em;
    display: block
}

#__cheatsheet > .popup {
    float: right;
    margin-right: 1em;
    max-width: 25em;
    max-height: 80%;
    padding: 0.5em;
}
fieldset {
    display: inline;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom: none;
    padding-bottom: 0.3em;
    padding-top: 0.1em;
}
legend {
    font-size: 0.7em;
}
button, a.button {
    cursor: default;
    padding: 0.3em 0.5em 0.3em 0.5em;
    background-color: lightgray;
    color: #000;
    border: none;
    border-radius: 0.1em;
    font-size: 1em;
    text-decoration: none;
}
button:hover, a.button:hover {
    text-align: center;
    background-color: #555;
    color: #fff;
}
a {
    color: blue;
}
a:hover {
    color: blue;
}
a:visited {
    color: blue;
}
div.icon:hover {
    cursor: pointer;
}
a.icon, div.icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    /*border: solid black 1px;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
a.twitter {
    background-image: url('../images/twitter.svg');
}
a.gplus {
    background-image: url('../images/gplus.svg');
}
a.github {
    background-image: url('../images/github.svg');
}
a.issuetracker {
    background-image: url('../images/issuetracker.svg');
}
div.question {
    background-image: url('../images/question.svg');
}
.herpes {
    float: right;
    position: relative;
}
.debug {
    display: none;
}

@media screen and (max-width: 480px) {

    #__cheatsheet > .popup {
        width: 100%;
        max-width: 100%;
        float: left;
    }
    .popup > button.close {
        margin-right: 1em;
    }

    .hideonmobile {
        display: none;
    }
    a.hideonmobile {
        display: none;
    }
    img {
        max-width: 100%;
    }
}
@media screen and (max-width: 800px) {
    #__cheatsheet {
        z-index: 3;
    }
}
/*
 This file is part of mscgen_js.

 mscgen_js is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 mscgen_js is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with mscgen_js.  If not, see <http://www.gnu.org/licenses/>.
 */
