#__animscreen {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 10em;
  z-index: 400;
  background: white;
  opacity: 0.98;
}
#__animcontrolswrapper {
  position: fixed;
  text-align: center;
  width: 99%;
  bottom: 1.5em;
  z-index: 481;
}
#__animcontrolswrapper nav {
  font-size: 2em;
  padding: 0.1 0.25em 0.25em 0.25em;
  background-color: black;
  opacity: 0.6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6); /* 0.23 */
  display: inline-block;
}
#__animscreen button {
  box-shadow: none;
}
#__animscreen button:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
#__animcontrolswrapper button {
  color: white;
  background-color: inherit;
}
#__animcontrolswrapper nav:hover {
  opacity: 0.8;
}
#__anim_progress_percentage_wrapper {
  cursor: pointer;
  z-index: 482;
  background-color: transparent;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0.2em;
  width: 100%;
  border: 1px solid white;
}
#__anim_progress_percentage {
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
  height: 0.2em;
  width: 0;
}
#__btn_anim_close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  color: black;
  background-color: transparent;
}
#__animsvgwrapper {
  width: 100%;
  text-align: center;
  margin-top: 3em;
}
#__animsvg {
  opacity: 1;
}
