// document
$color: black;
$light-color: #767676;
$background-color: white;
$shadow-color: rgba(0, 0, 0, 0.23);
$warning-color: orange;
$info-color: blue;
$error-background-color: #F2DEDE;
$error-color: #A94442;
$error-border: 1px solid #EBCCD1;
$button-color: rgba(0, 0, 0, 0.84);
$button-background-color: #eee;
$button-active-background-color: #ddd;
$button-primary-color: rgba(255, 255, 255, 1.0);
$button-primary-background-color: rgba(57, 116, 214, 1.00);
$button-primary-active-background-color: rgba(57, 116, 214, 0.84);
$placeholder-color: #666;

$mark-color: #FFFFAA;
$header-color: #707070;
$code-background-color: #F8F8F8;
$browsehappy-background-color: yellow;
$browsehappy-color: black;

$demarcation-line: solid 1px $shadow-color;

$width-transition: width 0.3s ease-out;
$height-transition: height 0.1s ease-out;
