$background-color: white;
$warning-color: orange;
$info-color: blue;
$mark-color: #FFFFAA;
$line-color: #ddd;
$demarcation-line: solid 1px $line-color;
$background-color-code: #F8F8F8;
body {
    counter-reset: article-counter;
}
footer {
  border-top: $demarcation-line;
  padding-top: .9em;
  font-size: 10pt;
  background-color: $background-color;
}
article {
  max-width: 65em;
  margin-top: .25em;
  padding: 2em;
  background-color: $background-color;
  overflow: hidden;
  counter-reset: chapter-counter;
  border-collapse: separate; /* apparently needed for IE */
  page-break-before: always;
}
article:first-of-type{
  page-break-before: auto;
}
section {
  counter-reset: paragraph-counter;
}
p, pre {
  margin-left: 1em;
  margin-right: 1em;
}
p {
  margin: 0 1em 1em 1em;
}
code, pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 1em;
}
article > h1 {
  counter-increment: article-counter;
}
article > h1:before {
  content: counter(article-counter) " ";
}
article h2:before {
  counter-increment: chapter-counter;
  content: counter(article-counter) "." counter(chapter-counter) " ";
}
article h3:before {
  counter-increment: paragraph-counter;
  content: counter(article-counter) "." counter(chapter-counter) "." counter(paragraph-counter) " ";
}
article h1.first-title-on-page {
  border: none;
}
article h1, h2 {
  padding-top: 0.5em;
  border-top: $demarcation-line;
}
article h1, h2, h3 {
  margin-bottom: 0.2em;
}
code, .code {
  border: $demarcation-line;
  background-color: $background-color-code;
  border-radius: 3px;
}
.code {
  overflow: auto;
  padding: 6px 10px;
  display: inline-block;
  vertical-align: top;
}
img, svg, .mscgen_js {
  max-width: 100%;
}
.mscgen_js {
  overflow: auto;
  display: inline-block;
}
.info {
  border-left: 1px solid $info-color;
  padding: 0.5em;
}
.info:before {
  content: "(i) ";
  color: $info-color;
  font-weight: bold;
}
.warning {
  border-left: 1px solid $warning-color;
  padding: 0.5em;
}
.warning:before {
  content: "/!\\ "; /* warning icon looks like this, but is not available everywhere ...\0026A0\0000A0 */
  color: $warning-color;
  font-weight: bold;
}
.shadow {
  box-shadow: 0.0 0.0 1em -0.2em gray;
  border-collapse: separate; /* apparently needed for IE */   
}
mark {
  background-color: $mark-color;
}
@media screen and (max-width: 639px) {
  body {
    margin: 0;
  }
  article {
    margin: 0;
    border: 0;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0;
  }
  .code {
    display: block;
    overflow: auto;
  }
  .hideonmobile {
    display: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  body {
    margin: 0;
  }
  article {
    margin: 0;
    border: 0;
    padding: 1em;
    border-radius: 0;
  }
}

@media print {
  .hideonprint {
      display: none;
  }
  body {
    font-size: 10pt;
  }
}
