@font-face {
    font-family: 'controls';
    src:    url('../fonts/controls.eot');
    src:    url('../fonts/controls.eot#iefix') format('embedded-opentype'),
        url('../fonts/controls.ttf') format('truetype'),
        url('../fonts/controls.woff') format('woff'),
        url('../fonts/controls.svg#controls') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'controls' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-xu:before { content: "\e600"; }
.icon-video-camera:before { content: "\e914"; }
.icon-folder:before { content: "\e92f"; }
.icon-cross:before { content: "\ea0f"; }
.icon-play:before { content: "\ea1c"; }
.icon-pause:before { content: "\ea1d"; }
.icon-first:before { content: "\ea21"; }
.icon-last:before { content: "\ea22"; }
.icon-previous:before { content: "\ea23"; }
.icon-next:before { content: "\ea24"; }
.icon-arrow-down:before { content: "\ea36"; }
.icon-share:before { content: "\ea7d"; }
.icon-embed:before { content: "\e601"; }
.icon-interpreter:before { content: "\e602"; }
.icon-question:before { content: "\e603"; }
.icon-cog:before { content: "\e994"; }
.icon-opensource:before { content: "\e900"; }
