@import "./colors";
body {
  color: $color;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 16px; // 12pt
  margin:0;
}
h1, h2, h3, h4, h5 {
  font-weight: lighter;
}
article {
    padding: 0.5em 0.5em 0 0.5em;
}
button, a.button {
  color: $button-color;
  background-color: $button-background-color;
  cursor: pointer;
  border-radius: 2px;
  padding: .2em .5em .4em .5em;
  border: none;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  min-width: 3em;
}
button:hover, a.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px $shadow-color;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
button:active, a.button:active {
  background-color: $button-active-background-color;
  transition:opacity .15s ease-in 0s,
              transform .5s cubic-bezier(0.4,0,.2,1) .1s;
  -webkit-transition:opacity .15s ease-in 0s,
              -webkit-transform .5s cubic-bezier(0.4,0,.2,1) .1s;
  opacity:1;
}
a.button, a.button:hover {
    text-decoration:none;
}
.btn-primary {
  background-color: $button-primary-background-color;
  color: $button-primary-color;
}
.btn-primary:hover {
  color: $button-primary-color;
}
.btn-primary:active {
  background-color: $button-primary-active-background-color;
  color: $button-primary-color;
}
.debug {
  /* display: none;*/
}
.browsehappy {
    margin: 0.2em 0;
    background: $browsehappy-background-color;
    color: $browsehappy-color;
    padding: 0.2em 0;
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is
 *    set using `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without
 *    disabling user zoom.
 */
html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
