body {
  color: black;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12pt;
  margin:0;
}
h1, h2, h3, h4, h5 {
  font-weight: lighter;
}
article {
    padding: 0.5em 0.5em 0 0.5em;
}
.debug {
  /* display: none;*/
}
.showonmobile {
  display: none;
}
.browsehappy {
    margin: 0.2em 0;
    background: yellow;
    color: black;
    padding: 0.2em 0;
}
.fadable-hint {
  animation: fadeout 20s;
  -webkit-animation: fadeout 20s;
  opacity: 0.2;
}
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is
 *    set using `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without
 *    disabling user zoom.
 */
html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
