header {
  padding: 1em 0.5em 0.5em 0.5em;
  border-bottom: solid lightgray 1px;
  margin-bottom: .4em;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: 25%;
  box-shadow: 0 .1em 0.4em -.2em gray;
  color: gray;
  min-height: 3em;
}
header > nav {
  float: right;
}
header .debug {
  float: right;
  font-size: small;
}
header h1 {
  font-size: 1.9em;
  margin-bottom: 0;
  margin-top: 0;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content; 
}
header em {
  color: black;
}
header a {
  text-decoration: none;
  color: inherit;
}
header a.icon:hover {
  color: blue;
  -webkit-transition: -webkit-transform 0.28s, color 0.28s;
  transition: transform 0.28s, color 0.28s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
header a.icon:active {
  color: blue;
  -webkit-transform: scale(1);
  transform: scale(1);
}
header div.icon:hover {
  cursor: pointer;
  color: blue;
  -webkit-transition: -webkit-transform 0.28s, color 0.28s;
  transition: transform 0.28s, color 0.28s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
header div.icon:active {
  color: blue;
  -webkit-transform: scale(1);
  transform: scale(1);
}
header .icon {
  display: inline-block;
  width: 3.6em;
  height: 2.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
header .embed {
  background-image: url('../images/embed.svg');
}
header .question {
  background-image: url('../images/question.svg');
}
header .interpreter {
  background-image: url('../images/interpreter.svg');
}
header .about {
  background-image: url('../images/about.svg');
}
header .active {
  font-weight: 600;
  text-decoration: none;
  -webkit-transform: scale(1);
  transform: scale(1);
}
header div.active:hover {
  cursor: default;
  color: inherit;
}
@media screen and (max-width: 480px) {
    header {
        background-image: none;
    }
}
