header {
  padding: 1em 0.5em 0.5em 0.5em;
  border-bottom: solid lightgray 1px;
  margin-bottom: .4em;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: 25%;
  box-shadow: 0 .1em 0.4em -.2em gray;
  color: gray;
  min-height: 3em;
}
header nav {
    float: right;
}
header .debug {
  font-size: small;
  float:right;
}
header h1 {
  font-size: 1.9em;
  margin-bottom: 0;
  margin-top: 0;
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content; 
}
header em {
  color: black;
}
header a {
  text-decoration: none;
  color: inherit;
}
nav a.icon:hover {
  text-decoration: underline;
}
nav a.icon:active {
  text-decoration: underline;
}
nav span.icon:hover {
  cursor: pointer;
  text-decoration: underline;
}
nav span.icon:active {
  text-decoration: underline;
}
nav .icon {
  display: inline-block;
  width: 3.6em;
  height: 2.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
nav .embed {
  background-image: url('../images/embed.svg');
}
nav .question {
  background-image: url('../images/question.svg');
}
nav .interpreter {
  background-image: url('../images/interpreter.svg');
}
nav .about {
  background-image: url('../images/about.svg');
}
nav .active {
  text-decoration: underline;
}
nav div.active:hover {
  cursor: default;
  color: inherit;
}

@media screen and (max-width: 639px) {
    header {
        background-image: none;
    }
    header em {
        display: block;
        font-size: 0.5em;
    }
}
