$error-background-color: #F2DEDE;
$error-color: #A94442;
$error-border: 1px solid #EBCCD1;
.code {
  font-family: monospace; /* Monaco, Consolas, 'Andale Mono'; */
  font-size: .7em;
  background-color: rgba(15, 25, 43, 1.0);
  color: #fff;
  color: rgba(203, 232, 255, 1.0);
  /*margin-top: 1em;*/
}
#__embedsnippet {
  border: solid 0;
  white-space: pre;
  text-overflow:ellipsis;
  overflow-x: scroll;
}
h3 {
  margin: 0;
  margin-bottom: 1em;
  font-weight: lighter;
  display: inline-block;
}
.intronumber {
  padding: .2em .5em .2em .5em;
  border: solid 1px;
  border-radius: 1em;
}
#__input_and_controls {
  z-index: 2;
  position: relative;
  vertical-align: top;
  float: left;
  max-width: 100%;
  max-height: 100%;
  width: 32em;
  padding-bottom: 1em;
  margin-right: 1em;
}
#__msc_input {
  width: 98%;
  height: 40;
}
.error {
  border: $error-border;
  border-radius: 2px;
  margin: 0;
  font-size: 0.9em;
  max-width: 32em;
  cursor: pointer;
}
.error .header {
  padding: 0.5em 0.5em 0.5em 1em;
  background-color: $error-background-color;
  color: $error-color;
  border-bottom: $error-border;
}
.error .content {
  padding: 0.5em 0.5em 0.5em 1em;
}
#__error_context:hover {
	text-decoration: underline;
	cursor: pointer;
}
#__svg {
  z-index: 0;
  vertical-align: top;
  position: absolute;
  float: left;
}
fieldset {
  display: inline;
  border: 1px solid lightgray;
  border-top: none;
  border-bottom: none;
  padding: .1em .4em .3em .4em;
}
legend {
  font-size: .7em;
}
button, a.button {
  color: rgba(0, 0, 0, 0.84);
  background-color: #eee;
  cursor: pointer;
  border-radius: 2px;
  padding: .3em .5em .3em .5em;
  border: none;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
}  
button:hover, a.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
button:active, a.button:active {
  background-color: #ddd;
  transition:opacity .15s ease-in 0s,
              transform .5s cubic-bezier(0.4,0,.2,1) .1s;
  -webkit-transition:opacity .15s ease-in 0s,
              -webkit-transform .5s cubic-bezier(0.4,0,.2,1) .1s;
  opacity:1;
}
.btn-primary {
  background-color: rgba(66, 133, 244, 1.00);
  color: rgba(255, 255, 255, 0.84);
}
.btn-primary:hover {
  color: rgba(255, 255, 255, 1.00);
}
.btn-primary:active {
  background-color: rgba(66, 133, 244, 0.84);
  color: rgba(255, 255, 255, 1.00);
}
.herpes {
  float: right;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #__input_and_controls {
    width: 28em;
  }
}
