@media screen and (max-width: 1164px) {
  .hideontablet {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .hideonmobile {
    display: none;
  }
  a.hideonmobile {
    display: none;
  }
  span.hideonmobile {
    display: none;
  }
  div.hideonmobile {
    display: none;
  }
  .showonmobile {
    display: block;
  }
}
@media screen and (max-width: 360) {
    a.hideonmicro {
        display: none;
    }    
}

@media print {
  .hideonprint {
      display: none;
  }
  body {
    font-size: 10pt;
  }
}
