@media screen and (max-width: 480px) {
  .hideonmobile {
    display: none;
  }
  a.hideonmobile {
    display: none;
  }
  div.hideonmobile {
    display: none;
  }
  .showonmobile {
    display: block;
  }
}
@media screen and (max-width: 1164px) {
  .hideontablet {
    display: none;
  }
}
