.popupsheet {
  z-index: 1;
  position: absolute;
  top: 5.3em;
  right: 0;
  background-color: transparent;
  width: 100%;
  padding-right: 1em;
  /* display: none; */
}
.popupsheet .popup {
  float: right;
  max-width: 28em;
  max-height: 80%;
  border-collapse: separate; /* apparently needed for IE */
  background-color: white;
  overflow: auto;
  border-radius: 2px;
  opacity: .97;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0 0 0 0;
  border: 0;
  padding: 0;
}
.popup .header {
  padding: .7em .5em 0 .5em;
  border-bottom: solid lightgray 1px;
}
.popup h1 {
  margin: 0.5em 0 0.5em 0.7em;
  font-size: 1.34em;
}
.popup a {
  text-decoration:underline;
}
.popup a:hover {
  text-decoration:underline;
}
.popup .content {
  padding: .4em .5em .5em .5em;
  border: none;
}
.content textarea {
    max-width: 98%;
}
.popup span {
  padding-left: .5em;
}
.popup button.close {
  background-color: transparent;
  font-weight: bold;
  color: #767676;
  opacity: 0.6;
  float: right;
  margin-top: -.7em;
  margin-right: -.5em;
  padding-right:0.5em;
  padding-left:0.5em;
  transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.popup button.close:hover {
  box-shadow: none;
  transition: none;
  opacity: 1;
  transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.popup td {
  vertical-align: top;
}
.popup td:first-child {
  width: 3.5em;
}
.popup p {
  margin-right: 1.5em;
  margin-left: 1.0em;
}
.popup p:first-child {
  margin-top: 0;
}
.popup img.aboutpic {
  width: 4em;
}
div.lightbox {
  display: none;
  top: 0;
  padding-top: 5em;
}
div.lightbox:target {
  display: block;
}
div.lightbox a.close {
  float: right;
  top: 0;
  padding-right:0.5em;
  padding-left:0.5em;
  color: grey;
  font-weight: bold;
  text-decoration: none;
}
div.lightbox a.close::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
@media screen and (max-width: 480px) {
  .popupsheet {
    padding-right: 0;
  }
  .popupsheet .popup {
    width: 100%;
    max-width: 100%;
    float: left;
  }
  .popup button.close {
    margin-right: 1em;
  }
  .popup img {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .popupsheet {
    z-index: 3;
  }
}
