/* NOT USED ANYMORE - REPLACED BY _slidingpanel.scss*/
@import "./colors";
.popupsheet {
  z-index: 268;
  position: absolute;
  top: 5.3em;
  right: 0;
  background-color: transparent;
  width: 100%;
  padding-right: 1em;
  /* display: none; */
}
.popupsheet .popup {
  float: right;
  max-width: 28em;
  max-height: 80%;
  border-collapse: separate; /* apparently needed for IE */
  background-color: $background-color;
  overflow: auto;
  border-radius: 2px;
  opacity: .97;
  box-shadow: 0 3px 6px $shadow-color;
  margin: 0 0 0 0;
  border: 0;
  padding: 0;
}
.popup .header {
  padding: .7em .5em 0 .5em;
  border-bottom: $demarcation-line;
}
.popup h1 {
  margin: 0.5em 0 0.5em 0.7em;
  font-size: 1.34em;
}
.popup a {
  text-decoration:underline;
}
.popup a:hover {
  text-decoration:underline;
}
.popup .content {
  padding: .4em .5em .5em .5em;
  border: none;
}
.popup .close {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  float: right;
  margin-top: -.3em;
  margin-right: -.3em;
  // padding-right:0.5em;
  padding-left:0.5em;
}
.popup .close:hover {
  box-shadow: none;
  transition: none;
}
.popup td {
  vertical-align: top;
}
.popup td:first-child {
  width: 3.5em;
}
.popup p {
  margin-right: 1.5em;
  margin-left: 1.0em;
}
.popup p:first-child {
  margin-top: 0;
}
.popup img.aboutpic {
  width: 4em;
}
div.lightbox {
  display: none;
  top: 0;
  padding-top: 5em;
}
div.lightbox:target {
  display: block;
}
div.lightbox a.close {
  float: right;
  padding-top: 0.5em;
  padding-right:0.7em;
}
div.lightbox a.close:hover {
  text-decoration: none;
}
div.lightbox a.close::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}
.popupsheet .about-box-icon {
    /* OK to not use the general colors here - logo */
    cursor: default;
    color: white;
    text-shadow: black 0px 0px 6px;
    font-size: 3.5em;
}
@media screen and (max-width: 480px) {
  .popupsheet {
    padding-right: 0;
  }
  .popupsheet .popup {
    width: 100%;
    max-width: 100%;
    float: left;
  }
  .popup button.close {
    margin-right: 1em;
  }
  .popup img {
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {

}
