@import "./colors";
.sliding-panel {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    background-color: $background-color;
    width: 0;
    height: 640px;
    position: fixed;
    z-index: 314;
    top: 80px;
    right:0;
    box-shadow: -6px 0px 6px $shadow-color;
    transition: width 0.7s cubic-bezier(0.68,-0.55,0.27,1.55);
}
.sliding-panel .header {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.sliding-panel > span.sliding-panel-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    overflow: auto;
    margin: 12px;
}
.sliding-panel > a {
    border-bottom: $demarcation-line;
}
.sliding-panel .sliding-panel-content-section {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-bottom: 1em;
}
.sliding-panel a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.sliding-panel > a:last-child {
    margin-bottom: 2em;
     /*solid white;*/
}
.sliding-panel .close-button {
  box-shadow: none;
  position: relative;
  top: 0;
  right: 0;
  padding: 1em;
  color: inherit;
  background-color: transparent;
}
.sliding-panel .about-box-icon {
    /* OK to not use the general colors here - logo */
    cursor: default;
    color: white;
    text-shadow: black 0px 0px 6px;
    font-size: 3.5em;
}
.sliding-panel .row-picture {
    width: 60px;
    min-width: 60px;
    margin: 0 0.5em 0 0.5em;
}
.sliding-panel .row-text {
    margin: 0 1em 1em 1em;
}
.sliding-panel h2 {
    margin: 0.5em 0 0 0.5em;
}
.sliding-panel h3 {
    margin: 0;
}
.sliding-panel p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
