footer {
  border-top: solid lightgray 1px;
  padding-top: 0.9em;
  font-size: 10pt;
  background-color: white;
}
article {
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  max-width: 65em;
  margin-top: 0.25em;
  padding: 2em;
  background-color: white;
  /*border-radius: 0.5em;*/
  overflow: hidden;
  counter-reset: chapter-counter;
  /*box-shadow: 0.0em 0.0em 1em -0.2em lightgrey;*/
  border-collapse: separate; /* apparently needed for IE */
}
section {
  counter-reset: paragraph-counter;
}
article > h1, h2, h3, h4 {
}
p, pre {
  margin-left: 1em;
  margin-right: 1em;
}
code, pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 1em;
}
article h2:before {
  counter-increment: chapter-counter;
  content: /*counter(article-counter) "." */counter(chapter-counter) " ";
}
article h3:before {
  counter-increment: paragraph-counter;
  content: /*counter(article-counter) "." */counter(chapter-counter) "." counter(paragraph-counter) " ";
}
article h1, h2 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #F8F8F8;
}
article a {
  color: blue;
}
article a:visited {
  color: blue;
}
code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
}
img, svg, .mscgen_js {
  max-width: 100%;
}
.mscgen_js {
  overflow: auto;
  display: inline-block;
}
.info {
  border-left: 1px solid #AAAAFF;
  padding: 0.5em;
}
.info:before {
  content: "(i) ";
  color: blue;
  font-weight: bold;
}
.warning {
  border-left: 1px solid orange;
  padding: 0.5em;
}
.warning:before {
  content: " /!\\ ";
  color: orange;
  font-weight: bold;
}
.shadow {
  box-shadow: 0.0em 0.0em 1em -0.2em gray;
  border-collapse: separate; /* apparently needed for IE */   
}
mark {
  background-color: #FFFFAA;
}

@media screen and (max-width: 639px) {
  body {
    margin: 0em;
  }
  article {
    margin: 0em;
    border: 0em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0em;
  }
  .code {
    display: block;
    overflow: auto;
  }
  .hideonmobile {
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  body {
    margin: 0em;
  }
  article {
    margin: 0em;
    border: 0em;
    padding: 1em;
    border-radius: 0em;
  }
}