header {
  padding: 1em 0.5em 0.5em 0.5em;
  border-bottom: solid lightgray 1px;
  margin-bottom: .4em;
  background-image: url('../../images/bg.png');
  background-repeat: no-repeat;
  background-position: 25%;
  box-shadow: 0 .1em 0.4em -.2em gray;
}
header > nav {
  float: right;
}
header .debug {
  float: right;
  font-size: small;
}
header h1 {
  font-size: 1.9em;
  margin-bottom: 0;
  margin-top: 0;
}
header em {
  color: black;
}
header a {
  text-decoration: none;
  color: lightgray;
}
header a.icon:hover {
  color:black;
}
header div.icon:hover {
  cursor: pointer;
  color:black;
}
header .icon {
  display: inline-block;
  width: 3.6em;
  height: 2.2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}
header .embed {
  background-image: url('../../images/embed.svg');
}
header .question {
  background-image: url('../../images/question.svg');
}
header .interpreter {
  background-image: url('../../images/interpreter.svg');
}
header .about {
  background-image: url('../../images/about.svg');
}

@media screen and (max-width: 480px) {
    header {
        background-image: none;
    }
}
