.code {
  font-family: monospace; /* Monaco, Consolas, 'Andale Mono'; */
  font-size: .7em;
  background-color: #555;
  color: #fff;
  /*margin-top: 1em;*/
}
#__embedsnippet {
  border: solid 0;
  white-space: pre;
  text-overflow:ellipsis;
  overflow-x: scroll;
}
h3 {
  margin: 0;
  margin-bottom: 1em;
  font-weight: 500;
  display: inline-block;
}
.intronumber {
  padding: .2em .5em .1em .5em;
  color: white;
  background-color: lightgray;
  border-radius: 1em;
}
.fadable {
  animation-duration: 60s;
  animation-name: fadeout;
  color: lightgray;
}
@keyframes fadeout {
from {
  color: black;
}
to {
  color: lightgray;
}
}
#__input_and_controls {
  z-index: 2;
  position: relative;
  vertical-align: top;
  float: left;
  max-width: 100%;
  max-height: 100%;
  width: 32em;
  padding-bottom: 1em;
  margin-right: 1em;
}
#__input_and_controls > #__msc_input {
  width: 98%;
  height: 40;
}
.error {
  color: orange;
  padding-top: 1em;  /*0 1em 0;*/
  padding-bottom: 1em;
  border: solid 1px orange;
  display: none;
  width: 100%;
}
#__svg {
  z-index: 0;
  vertical-align: top;
  position: absolute;
  float: left;
}

fieldset {
  display: inline;
  border: 1px solid lightgray;
  border-top: none;
  border-bottom: none;
  padding-bottom: .3em;
  padding-top: .1em;
}
legend {
  font-size: .7em;
}
button, a.button {
  cursor: default;
  padding: .3em .5em .3em .5em;
  background-color: lightgray;
  color: #000;
  border: none;
  border-radius: .1em;
  font-size: 1em;
  text-decoration: none;
}
button:hover, a.button:hover {
  text-align: center;
  background-color: #555;
  color: #fff;
}
a {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:visited {
  color: inherit;
}
.herpes {
  float: right;
  position: relative;
}
@media screen and (max-width: 1024px) {
  #__input_and_controls {
    width: 28em;
  }
}
@media screen and (max-width: 480px) {
  .hideonmobile {
    display: none;
  }
  a.hideonmobile {
    display: none;
  }
}