name: linting & test coverage - linux

on:
  push:
    branches:
      - master
  pull_request:

env:
  CI: true

defaults:
  run:
    shell: bash

jobs:
  check:
    strategy:
      fail-fast: true
      matrix:
        node-version:
          - 24.x
        platform:
          - ubuntu-latest

    runs-on: ${{matrix.platform}}

    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: node_modules
          key: ${{matrix.node-version}}@${{matrix.platform}}-build-${{hashFiles('package.json')}}
          restore-keys: |
            ${{matrix.node-version}}@${{matrix.platform}}-build-
      - uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
      - name: install & build
        run: |
          npm install
          npm run build
      - name: lint & forbidden dependency check
        run: |
          npm run depcruise
      - run: npm run test:cover
